.about-me {
  background: #202020;
  padding: 0 70px;
}

.about-me__title {
  margin: 110px 0 66px;
}

.about-me__description {
  display: flex;
  justify-content: space-between;
}

.about-me__wrapper {
  display: flex;
  flex-direction: column;
  max-width: 600px;
  margin-right: 20px;
}

.about-me__student-name {
  font-size: 50px;
  line-height: 58px;
  letter-spacing: -0.04em;
  margin: 0 0 18px;
}

.about-me__student-profession {
  font-weight: 500;
  font-size: 18px;
  line-height: 20px;
  margin: 0 0 26px;
}

.about-me__text {
  font-size: 14px;
  line-height: 22px;
  margin: 0 0 100px;
}

.about-me__social-links {
  display: flex;
  margin: 0 0 100px;
  padding: 0;
}

.about-me__social-link {
  list-style: none;
}

.about-me__link-text {
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: white;
  margin: 0 20px 0 0;
  text-decoration: none;
}

.about-me__link-text:hover {
  opacity: 0.7;
}

.about-me__image {
  width: 270px;
  height: 327px;
  border-radius: 10px;
}

.portfolio {
  display: flex;
  flex-direction: column;
}

.portfolio__title {
  font-weight: normal;
  font-size: 18px;
  line-height: 20px;
  color: #8b8b8b;
  margin: 0 0 34px;
}

.portfolio__list {
  padding: 0;
  margin-bottom: 125px;
}

.portfolio__item {
  list-style: none;
}

.portfolio__link {
  display: flex;
  justify-content: space-between;
  color: white;
  text-decoration: none;
  font-size: 30px;
  line-height: 50px;
  letter-spacing: -0.04em;
  border-bottom: 1px solid #424242;
  padding-bottom: 20px;
  margin-bottom: 20px;
}

.portfolio__link:hover {
  opacity: 0.7;
}

.portfolio__icon {
  background-image: url(../../images/arrov.svg);
  background-repeat: no-repeat;
  background-position: center;
  width: 30px;
  height: 50px;
}

@media screen and (max-width: 830px) {
  .about-me {
    padding: 0 50px;
  }

  .about-me__title {
    margin: 80px 0 66px;
  }

  .about-me__wrapper {
    max-width: 365px;
  }

  .about-me__student-name {
    font-size: 40px;
    line-height: 40px;
    margin: 0 0 16px;
  }

  .about-me__student-profession {
    font-size: 12px;
    line-height: 18px;
    margin: 0 0 20px;
  }

  .about-me__text {
    font-size: 12px;
    line-height: 18px;
    margin: 0 0 86px;
  }

  .about-me__image {
    width: 255px;
    height: 307px;
  }
  .about-me__social-links {
    margin: 0 0 92px;
  }
  .portfolio__link {
    font-size: 28px;
    line-height: 50px;
  }
}

@media screen and (max-width: 550px) {
  .about-me {
    padding: 0 14px;
  }

  .about-me__title {
    margin: 40px 0 60px;
  }

  .about-me__description {
    display: flex;
    flex-direction: column-reverse;
  }

  .about-me__image {
    width: 292px;
    height: 352px;
    align-self: center;
    margin-bottom: 40px;
  }

  .about-me__wrapper {
    margin: 0;
  }

  .about-me__student-name {
    font-size: 30px;
    line-height: 36px;
    margin: 0 0 18px;
  }

  .about-me__student-profession {
    font-size: 11px;
    line-height: 16px;
  }

  .about-me__text {
    font-size: 11px;
    line-height: 16px;
    margin: 0 0 40px;
  }

  .about-me__social-links {
    margin: 0 0 70px;
  }

  .about-me__link-text {
    margin: 0 26px 0 0;
  }

  .portfolio__link {
    font-size: 18px;
    line-height: 28px;
  }

  .portfolio__title {
    margin: 0 0 24px;
    font-size: 14px;
    line-height: 20px;
  }

  .portfolio__list {
    margin-bottom: 106px;
  }

  .portfolio__icon {
    width: 18px;
    height: 28px;
    background-image: url(../../images/arrov_320.svg);
  }
}
